# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Healthcare_Appointment_System.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
project.nuget.cache
.env
project.assets.json
csproj.nuget.dgspec.json
csproj.nuget.g.props